<div class="row-container admin-manage-booking">
    <div class="col-sm-12">

        <h4>{{title}}</h4>
        <div class="additional-nav-items">
            <ul class="nav-list">
                <li>
                    <a href="/adminmanagebooking" role="button" class="btn btn-primary">Manage Bookings</a>
                </li>
                <li>
                    <a href="/adminmanageuser" role="button" class="btn btn-primary">Manage Users</a>
                </li>
                <li>
                    <button class="btn btn-primary" id="adminShowAllBooking">Show All Bookings</button>
                </li>
                <li>
                    <input class="form-control" type="text" placeholder="Enter Booking ID" aria-label="Search" id="adminSearchID" name="adminSearchID">
                    <button class="btn btn-primary" id="adminSearchBooking">Search</button>
                </li>
                <li>
                    <input class="form-control" type="text" placeholder="Enter Booking ID" aria-label="Search" id="adminDeleteID" name="adminDeleteID">
                    <button class="btn btn-primary" id="adminDeleteBooking">Delete</button>
                </li>
            </ul>
        </div>

        <div id="booking-list">
            <table class="table text-center">
                <thead>
                    <tr>
                        <th>Booking ID</th>
                        <th>Hotel Name</th>
                        <th>User</th>
                        <th>Check-In</th>
                        <th>Check-Out</th>
                        <th>Capacity</th>
                        <th>Status</th>
                        <th>Price</th>
                    </tr>
                </thead>
                {{#if bookings}}
                    <!-- loop through lists -->
                    {{#each bookings}}
                    <tbody id="admin-bookings-table-body">
                        <td>{{ _id }}</td>
                        <td>{{ hotelname }}</td>
                        <td>{{ username }}</td>
                        <td>{{ checkin }}</td>
                        <td>{{ checkout }}</td>
                        <td>{{ capacity }}</td>
                        <td>{{ price }}</td>
                    </tbody>
                    {{/each}}
                {{else}}
                <td>No bookings yet</td>
                {{/if}}
            </table>
        </div>

    </div>
</div>