<div class="row-container search">

  <!-- SEARCH -->
  <div class="col-sm-12">
    <div class="heading">
        <h4>{{ title }}</h4>
        <p>{{ hotelSearch }}</p>
        <a href='/usersearchbooking' class="btn btn-primary">Back</a>
        <a href='/usermanagebooking' class="btn btn-primary">Back to Dashboard</a>
    </div>

    {{#if bookings}}
        <div class="row">
        {{#each bookings}}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ hotelname }}</h5>
                    <p class="card-text">Booking Number: {{ _id }}</p>
                    <p class="card-text">Status: {{ status }}</p>
                    <p class="card-text">Capacity: {{ capacity }}</p>
                    <button class="btn btn-primary">Book Now!</button>
                </div>
            </div>
        {{/each}}
        </div>
        {{else}}
    <h4>No bookings yet!</h4>
    {{/if}}

  </div>
</div>
