<div class="row-container user-manage-booking">
    <div class="col-sm-12">
        <h4>{{title}}</h4>
        
        <ul class="nav-list float-center">
            <li>
                <input class="form-control" type="text" placeholder="Enter Booking ID" aria-label="Search" id="userSearchID" name="userSearchID">
                <button class="btn btn-primary" id="userSearchBooking">Search</button>
            </li>
            <li>
                <input class="form-control" type="text" placeholder="Enter Booking ID" aria-label="Search" id="userDeleteBooking" name="userDeleteBooking">
                <button class="btn btn-primary" id="userSearchBooking">Cancel</button>
            </li>
        </ul>

        <div id="booking-list">
            <table class="table text-center">
                <thead>
                    <tr>
                        <th>Booking ID</th>
                        <th>Hotel Name</th>
                        <th>Check-In</th>
                        <th>Check-Out</th>
                        <th>Capacity</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody id="user-booking-table-body">
                    {{#each bookings}}
                    <tr>
                        <td>{{this.id}}</td>
                        <td>{{this.name}}</td>
                        <td>{{this.checkin}}</td>
                        <td>{{this.checkout}}</td>
                        <td>{{this.capacity}}</td>
                        <td>{{this.price}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        
    </div>
</div>